@import './variables';

@import './components/head';
@import './components/face';
@import './components/eyes';
@import './components/eye';
@import './components/mouth';
@import './components/horns';
@import './components/blush';
@import './components/hair';
@import './components/hair__front';

#ironmouse {
  position: relative;
  width: 380px;
  height: 381px;
  margin: 0 auto;
  overflow: hidden;
}
